# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
ByteHubEnv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example

# Django
*.log
db.sqlite3
ByteHub/db.sqlite3
media/
staticfiles/

# i18n compiled files
*.mo

# IDE
.vscode/

# Node
node_modules/
